___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [1]:
import pandas as pd
import numpy as np

In [2]:
ecp = pd.read_csv("../data/eCommPurch.csv")

**Check the head of the DataFrame.**

In [4]:
ecp.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [5]:
ecp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

In [6]:
ecp["Purchase Price"]

0       98.14
1       70.73
2        0.95
3       78.04
4       77.82
5       25.15
6       88.56
7       44.25
8       59.54
9       95.63
10      96.89
11      19.26
12      39.65
13       8.93
14      24.18
15      71.78
16      84.44
17      58.68
18      70.15
19      58.39
20      30.33
21      90.93
22      33.62
23      97.97
24      85.31
25       6.25
26      17.75
27      39.40
28      70.75
29      82.16
        ...
9970    17.76
9971    65.06
9972    18.10
9973    83.30
9974    66.45
9975     3.77
9976    37.73
9977    94.93
9978    14.49
9979    14.55
9980    16.05
9981    63.61
9982    56.25
9983    47.70
9984    33.57
9985    46.33
9986    22.02
9987    60.83
9988    89.76
9989    17.18
9990    18.35
9991    25.93
9992    67.96
9993    65.61
9994    31.85
9995    82.21
9996    25.63
9997    83.98
9998    38.84
9999    67.59
Name: Purchase Price, Length: 10000, dtype: float64

In [8]:
ecp["Purchase Price"].mean()

50.34730200000025

50.34730200000025

** What were the highest and lowest purchase prices? **

In [9]:
ecp["Purchase Price"].max(), ecp["Purchase Price"].min()

(99.99, 0.0)

99.989999999999995

0.0

** How many people have English 'en' as their Language of choice on the website? **

In [11]:
ecp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [17]:
ecp[ecp["Language"].str.match('en')==True]["Language"].count()

1098

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

** How many people have the job title of "Lawyer" ? **

In [19]:
ecp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [58]:
ecp[ecp["Job"].str.contains('Lawyer',regex=True)==True]["Job"].count()

30

In [63]:
ecp.loc[ecp["Job"]=='Lawyer',"Job"].count()

30

In [68]:
ecp[ecp["Job"]=='Lawyer'].iloc[:5]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
470,9310 Bailey Mountain Apt. 832\nLake Jacqueline...,67 tQ,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.7.20) G...,White-Hicks,210056645973585,03/19,726,Voyager,francisjohnson@peters-green.com,Lawyer,253.78.210.57,it,64.50
508,"5064 Nicole Circle\nJohnsonburgh, NM 78266-6283",53 rJ,PM,Mozilla/5.0 (Windows NT 5.2; it-IT; rv:1.9.1.2...,"Mcdonald, Green and Jennings",4040542728940631,06/26,101,VISA 16 digit,karen24@hotmail.com,Lawyer,13.128.34.120,ru,94.40
1275,"4394 Sherry Row Suite 034\nSouth Rebecca, MD 6...",80 jP,PM,Opera/9.29.(Windows NT 5.2; en-US) Presto/2.9....,Brewer-Smith,3096214913494379,04/17,124,JCB 15 digit,robertrobertson@ford.biz,Lawyer,245.31.38.181,el,58.05
1569,"91733 King Mountains Apt. 356\nSouth Tammy, NE...",20 Aa,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Hamilton Group,340721115247942,08/24,673,VISA 16 digit,denise22@hotmail.com,Lawyer,147.0.2.29,pt,30.64
1682,"5691 Fox Mountains\nDudleyside, GU 66765-2101",67 Bk,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6...,Barker-Hill,346047712475429,06/18,672,VISA 13 digit,roblesallen@hotmail.com,Lawyer,113.242.220.16,it,71.35

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
Address             30 non-null object
Lot                 30 non-null object
AM or PM            30 non-null object
Browser Info        30 non-null object
Company             30 non-null object
Credit Card         30 non-null int64
CC Exp Date         30 non-null object
CC Security Code    30 non-null int64
CC Provider         30 non-null object
Email               30 non-null object
Job                 30 non-null object
IP Address          30 non-null object
Language            30 non-null object
Purchase Price      30 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [25]:
ecp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [32]:
print("{} people bought AM"\
      .format(ecp[ecp["AM or PM"].str.match("AM")==True]["AM or PM"]\
              .count()))

4932 people bought AM

In [33]:
print("{} people bought PM"\
      .format(ecp[ecp["AM or PM"].str.match("PM")==True]["AM or PM"]\
              .count()))

5068 people bought PM

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [39]:
ecp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [51]:
ecp.groupby("Job").size().sort_values(ascending=False).head()

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
dtype: int64

In [57]:
ecp.loc[ecp['Job']=='Lawyer','Job']

470     Lawyer
508     Lawyer
1275    Lawyer
1569    Lawyer
1682    Lawyer
2164    Lawyer
2619    Lawyer
2935    Lawyer
3663    Lawyer
3738    Lawyer
3966    Lawyer
5053    Lawyer
5339    Lawyer
5452    Lawyer
5562    Lawyer
5974    Lawyer
6131    Lawyer
6136    Lawyer
6220    Lawyer
7368    Lawyer
7645    Lawyer
8127    Lawyer
8220    Lawyer
8620    Lawyer
8683    Lawyer
8801    Lawyer
8860    Lawyer
9175    Lawyer
9659    Lawyer
9979    Lawyer
Name: Job, dtype: object

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [70]:
ecp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [95]:
ecp[ecp["Address"].str.contains("90 WT*")==True]["Purchase Price"]

7565    3.37
Name: Purchase Price, dtype: float64

In [97]:
ecp[ecp["Lot"].str.contains("90 WT")==True]["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

In [94]:
ecp.iloc[513]

Address             50398 Mccoy Rest Suite 597\nSouth Garyborough,...
Lot                                                             90 WT
AM or PM                                                           AM
Browser Info        Mozilla/5.0 (iPod; U; CPU iPhone OS 3_2 like M...
Company                                                    Bright PLC
Credit Card                                              630438419693
CC Exp Date                                                     11/19
CC Security Code                                                  173
CC Provider                                          American Express
Email                                                jesse00@page.net
Job                                                   Energy engineer
IP Address                                              156.70.208.94
Language                                                           ru
Purchase Price                                                   75.1
Name: 513, dtype: object

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [100]:
ecp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [109]:
ecp.loc[ecp["Credit Card"]==4926535242672853,"Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [112]:
ecp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [131]:
ecp[ecp.groupby("CC Provider")["Purchase Price"].apply(lambda x: x>95)]["Purchase Price"].count()

505

In [132]:
ecp[ecp.groupby("CC Provider")["Purchase Price"]\
    .apply(lambda x: x>95)]["Purchase Price"].count()

505

In [151]:
ecp[ecp["CC Provider"]=="American Express"]["Purchase Price"]>95

9        True
17      False
37      False
45      False
51      False
68      False
71      False
98      False
99      False
133     False
136     False
141     False
151     False
160     False
164     False
185     False
187     False
198     False
201     False
203     False
241     False
249     False
250     False
260     False
268     False
278     False
280      True
307     False
308     False
317     False
        ...
9630    False
9641    False
9686    False
9688    False
9694    False
9727    False
9732    False
9740    False
9746    False
9779    False
9795    False
9801    False
9816    False
9840    False
9842    False
9843    False
9856     True
9859    False
9868    False
9876    False
9877    False
9887    False
9896    False
9914    False
9923    False
9942    False
9944    False
9965    False
9973    False
9998    False
Name: Purchase Price, Length: 849, dtype: bool

In [177]:
aa = ecp["CC Provider"]=="American Express"
pp = ecp["Purchase Price"]>95
ecp[aa & pp].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [178]:
aa

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9        True
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17       True
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9970    False
9971    False
9972    False
9973     True
9974    False
9975    False
9976    False
9977    False
9978    False
9979    False
9980    False
9981    False
9982    False
9983    False
9984    False
9985    False
9986    False
9987    False
9988    False
9989    False
9990    False
9991    False
9992    False
9993    False
9994    False
9995    False
9996    False
9997    False
9998     True
9999    False
Name: CC Provider, Length: 10000, dtype: bool

In [179]:
pp

0        True
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9        True
10       True
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23       True
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9970    False
9971    False
9972    False
9973    False
9974    False
9975    False
9976    False
9977    False
9978    False
9979    False
9980    False
9981    False
9982    False
9983    False
9984    False
9985    False
9986    False
9987    False
9988    False
9989    False
9990    False
9991    False
9992    False
9993    False
9994    False
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Purchase Price, Length: 10000, dtype: bool

In [185]:
ecp[ (ecp["CC Provider"]=="American Express") \
    & (ecp["Purchase Price"]>95) ]["Purchase Price"]\
.count()

39

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

** Hard: How many people have a credit card that expires in 2025? **

In [187]:
ecp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [192]:
ecp[ ecp["CC Exp Date"].str.contains('/25') ]["CC Exp Date"].count()

1033

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [194]:
ecp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [199]:
ecp["Email"]

0                       pdunlap@yahoo.com
1                      anthony41@reed.com
2          amymiller@morales-harrison.com
3             brent16@olson-robinson.info
4             christopherwright@gmail.com
5                       ynguyen@gmail.com
6                      olivia04@yahoo.com
7                    phillip48@parks.info
8                    kdavis@rasmussen.com
9                qcoleman@hunt-huerta.com
10                   ustewart@hotmail.com
11               johnnymiller@coleman.com
12                      tholt@hotmail.com
13                    caitlin57@yahoo.com
14                       aburns@yahoo.com
15                     amanda39@yahoo.com
16            griffincatherine@wilson.com
17                 stacymitchell@hall.com
18                     hannah63@yahoo.com
19                   ruiznicole@gmail.com
20                 zstephenson@smith.info
21                     rsmith@hotmail.com
22              chambersmichael@gmail.com
23            ltaylor@gardner-meadows.com
24                      james07@yahoo.com
25                   madison41@mooney.com
26                       mlogan@gmail.com
27                  michael35@hotmail.com
28                  khandeborah@yahoo.com
29                   stonekaren@yahoo.com
                      ...
9970              rangelbrian@hotmail.com
9971            leslierichards@warner.org
9972                kellycole@hotmail.com
9973                     rlewis@yahoo.com
9974                    paula72@yahoo.com
9975                 taylordiaz@roman.net
9976                     pbrown@gmail.com
9977               daltoncarter@yahoo.com
9978                   ywhite@hotmail.com
9979                   qjohnson@yahoo.com
9980             mark74@kirby-stewart.org
9981           laurenbennett@richards.com
9982                  heather24@gmail.com
9983    jacksonmanuel@rodriguez-welch.com
9984                clee@vasquez-luna.com
9985                 cranejames@white.com
9986             belindaleon@schwartz.com
9987             denisehamilton@novak.biz
9988               hudsonmichael@pace.com
9989           walterswilliam@hotmail.com
9990          andersonmichael@sherman.biz
9991                   kking@wise-liu.com
9992                    bberry@wright.net
9993            chelseawilliams@lopez.biz
9994                   iroberts@gmail.com
9995               iscott@wade-garner.com
9996                   mary85@hotmail.com
9997                    tyler16@gmail.com
9998              elizabethmoore@reid.net
9999                rachelford@vaughn.com
Name: Email, Length: 10000, dtype: object

In [214]:
ecp.groupby(ecp["Email"].str.split('@').str[1]).size()\
.sort_values(ascending=False).head()

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
dtype: int64

In [219]:
ecp["Email"].str.extract(r's*([^@]*)s*\.com')

                     0
0                yahoo
1                 reed
2     morales-harrison
3                  NaN
4                gmail
5                gmail
6                yahoo
7                  NaN
8            rasmussen
9          hunt-huerta
10             hotmail
11             coleman
12             hotmail
13               yahoo
14               yahoo
15               yahoo
16              wilson
17                hall
18               yahoo
19               gmail
20                 NaN
21             hotmail
22               gmail
23     gardner-meadows
24               yahoo
25              mooney
26               gmail
27             hotmail
28               yahoo
29               yahoo
...                ...
9970           hotmail
9971               NaN
9972           hotmail
9973             yahoo
9974             yahoo
9975               NaN
9976             gmail
9977             yahoo
9978           hotmail
9979             yahoo
9980               NaN
9981          richards
9982             gmail
9983   rodriguez-welch
9984      vasquez-luna
9985             white
9986           chwartz
9987               NaN
9988              pace
9989           hotmail
9990               NaN
9991          wise-liu
9992               NaN
9993               NaN
9994             gmail
9995       wade-garner
9996           hotmail
9997             gmail
9998               NaN
9999            vaughn

[10000 rows x 1 columns]

In [255]:
#ecp["Email"].str.extract(r's*([^@]*)s*\.com')
#ecp["Email"].str.extract(r's*([^@]*)')
#ecp.groupby(ecp["Email"].str.split('@').str[1]).size()\
#.sort_values(ascending=False).head()
ecp["Email"].str.extract(r'\w*@(\w*-?\w*\.\w*)')

                         0
0                yahoo.com
1                 reed.com
2     morales-harrison.com
3      olson-robinson.info
4                gmail.com
5                gmail.com
6                yahoo.com
7               parks.info
8            rasmussen.com
9          hunt-huerta.com
10             hotmail.com
11             coleman.com
12             hotmail.com
13               yahoo.com
14               yahoo.com
15               yahoo.com
16              wilson.com
17                hall.com
18               yahoo.com
19               gmail.com
20              smith.info
21             hotmail.com
22               gmail.com
23     gardner-meadows.com
24               yahoo.com
25              mooney.com
26               gmail.com
27             hotmail.com
28               yahoo.com
29               yahoo.com
...                    ...
9970           hotmail.com
9971            warner.org
9972           hotmail.com
9973             yahoo.com
9974             yahoo.com
9975             roman.net
9976             gmail.com
9977             yahoo.com
9978           hotmail.com
9979             yahoo.com
9980     kirby-stewart.org
9981          richards.com
9982             gmail.com
9983   rodriguez-welch.com
9984      vasquez-luna.com
9985             white.com
9986          schwartz.com
9987             novak.biz
9988              pace.com
9989           hotmail.com
9990           sherman.biz
9991          wise-liu.com
9992            wright.net
9993             lopez.biz
9994             gmail.com
9995       wade-garner.com
9996           hotmail.com
9997             gmail.com
9998              reid.net
9999            vaughn.com

[10000 rows x 1 columns]

In [265]:
ecp.groupby(ecp["Email"].str.extract(r'\w*@(\w*-?\w*\.\w*)')[0]).size().sort_values(ascending=False).head()

0
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
dtype: int64

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

# Great Job!