In [56]:
num = 10
name = 'Espo'

In [57]:
print('My name is {} and my number is {}'.format(name,num))

My name is Espo and my number is 10

In [58]:
print('My name is {one} and my number is {two} and {two}'.format(one = name, two = num))

My name is Espo and my number is 10 and 10

In [59]:
s = 'hello'

In [60]:
s[0], s[1]

('h', 'e')

In [61]:
s = 'abcdef'

In [62]:
s[0:]

'abcdef'

In [63]:
s[:2]

'ab'

In [64]:
s[2:4]

'cd'

In [65]:
#List
list1 = ['a','b','c']
list1

['a', 'b', 'c']

In [66]:
list1.append('d')
list1

['a', 'b', 'c', 'd']

In [67]:
nest = [1,2,[3,4,['espo']]]
nest[2][0]

3

In [68]:
print(nest[2][2][0])

espo

In [69]:
# dictionary - does not have order property
d={'key1' : 'espo','key2' : 123}

In [70]:
d['key1']

'espo'

In [71]:
d2 = {'k1':[1,2,3],'k2':['espo','letinha']}
d2['k1'][1]

2

In [72]:
list2 = d2['k1']
list2[1]

2

In [73]:
#tuples - immutable. Do not allow for element assignment.
t = (1,2,3)
t[0]

1

In [74]:
list1[0] = 'NEW'
list1

['NEW', 'b', 'c', 'd']

In [75]:
# set - collection of unique elements
s3 = {1,1,1,2,3}

In [76]:
set([1,2,1,1,1,2])

{1, 2}

In [77]:
s3.add(5)
print(s3)

{1, 2, 3, 5}

In [78]:
1 == 1

True

In [79]:
if 1<2:
    print('espo')

espo

In [80]:
if 1 == 2:
    print('first')
else:
    print('last')

last

In [81]:
seq1 = [1,2,3,4,5]
for i in seq1:
    print (i)

1
2
3
4
5

In [82]:
seq2 = [6,7,8,9,10]
seq3 = [i*j*2 for i,j in zip(seq1,seq2)]
print(seq3)

[12, 28, 48, 72, 100]

In [83]:
i = 1
while i<5:
    print ('i is {}'.format(i))
    i = i + 1

i is 1
i is 2
i is 3
i is 4

In [84]:
seq4 = range(0,5)
print(seq4)

range(0, 5)

In [85]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [86]:
lst1 = list(range(0,5))
print ('list lst = {}'.format(lst1))

list lst = [0, 1, 2, 3, 4]

In [87]:
x = [1,2,3,4]
out = []
for i in x:
    out.append(i**2)
print (out)

[1, 4, 9, 16]

In [88]:
# list comprehension
out = [i**2 for i in x]
print (out)

[1, 4, 9, 16]

In [89]:
def fName(name = 'default'):
    print('Hello ' + name)
    
fName('espo')

Hello espo

In [90]:
fName()

Hello default

In [91]:
def square(num):
    """Returns square of a number"""
    return num**2

out = square(2)

In [92]:
out

4

In [93]:
# use shift-tab to get information about functions or methods
square

In [94]:
# map function
seq = [1,2,3,4,5]
seq2 = list(map(square, seq))

In [95]:
seq2

[1, 4, 9, 16, 25]

In [96]:
def times2(var): return 2 * var
times2(5)

10

In [97]:
# lambda expression - map with no explicit function definition. Meant to be used as a one-time solution.
t = lambda var:2*var
t(6)

12

In [98]:
seq3 = list(map(lambda var:2*var,seq))

In [99]:
seq3

[2, 4, 6, 8, 10]

In [100]:
# filter - similar to map but it filters out elements from the sequence.
t2 = list(filter(lambda num:num%2 == 0, seq))

In [101]:
t2 # returns only even numbers from seq

[2, 4]

In [102]:
# Methods - used for strings
s = "My name is espo"

In [103]:
# lower method - lower case all string letters
sl = s.lower()

In [104]:
sl

'my name is espo'

In [105]:
# split method - split string according to white spaces and return a list
s.split()

['My', 'name', 'is', 'espo']

In [106]:
t = "My name is #espo"
t.split('#')

['My name is ', 'espo']

In [107]:
d = {'k1': 1, 'k2':2}

In [108]:
d.keys()

dict_keys(['k1', 'k2'])

In [109]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [111]:
d.values()

dict_values([1, 2])

In [115]:
def findDog(str):
    sp = str.split()
    flag = False
    for i in sp:
        print(i)
        if i == "dog" or i=="Dog":
            flag = True
            
    print (flag)

In [117]:
findDog("Is there a dog here?")

Is
there
a
dog
here?
True

In [131]:
str = "Is there a dog here?"

def findString(w):
    return re.compile(r'\b({0})\b'.format(w), flags = re.IGNORECASE).search 

tst1 = findString('dog')(str)
print(tst1)

<re.Match object; span=(11, 14), match='dog'>

In [154]:
seq = ['soup','dog','salad','cat','great']

st = [re.match(r'^s*',i) for i in seq]
print (st)
seq2 = list(filter(lambda st: re.match(r'^s',st), seq))
print(seq2)

[<re.Match object; span=(0, 1), match='s'>, <re.Match object; span=(0, 0), match=''>, <re.Match object; span=(0, 1), match='s'>, <re.Match object; span=(0, 0), match=''>, <re.Match object; span=(0, 0), match=''>]
['soup', 'salad']

In [157]:
seq3 = list(filter(lambda st: st.startswith('s'), seq))
seq3

['soup', 'salad']